h1{
    color: #3882F6;
    font-size: larger;
    font: hero;
}

box-one{
    background-color: white;
}
box-two{
    background-color: #1F2937;
}
box-three{
    background-color: white;
}
box-four{
    background-color: #E5E7EB;
}